[submodule "external/img4tool"]
	path = external/img4tool
	url = https://github.com/tihmstar/img4tool.git
[submodule "external/libplist"]
	path = external/libplist
	url = https://github.com/libimobiledevice/libplist/
[submodule "external/libgeneral"]
	path = external/libgeneral
	url = https://github.com/tihmstar/libgeneral.git
